$dark-mode-element:hsl(209, 23%, 22%);
$dark-mode-background:hsl(207, 26%, 17%);
$dark-mode-text:hsl(0, 0%, 100%);

$light-mode-background:hsl(0, 0%, 98%);
$light-mode-element:hsl(0, 0%, 100%);
$Light-mode-input:hsl(0, 0%, 52%);

$detail-font: 1.6rem;
$home-font: 1.4rem;