@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300;0,600;0,800;&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}


@media only screen and (max-width: 375px) {
  html {
    font-size: 50%;
  }
}


body {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 300;
}

.dark-mode {
  background-color: $dark-mode-element;
  color: $dark-mode-text;
}

.light-mode {
  background-color: $light-mode-element;
  color: $light-mode-text;
}
