.input__box {
  padding: 0.4rem 0;
  flex-basis: 35%;
  display: flex;
  align-items: center;

  @media only screen and (max-width: 375px) {
    & {
      width: 100%;
    }
  }
  & svg {
    height: 2rem;
    width: 2rem;
    flex-basis: 10%;
  }

  & input {
    padding: 0.6rem;
    flex-basis: 85%;
    border-radius: 0.5rem;
    font-size: $home-font;
    border: none;
    color: inherit;
    background-color: inherit;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: $light-mode-input;
      letter-spacing: 0.1rem;
      font-size: $detail-font;
    }
  }
}
.select__box {
  flex-basis: 20%;
  padding: 1rem;
  outline: none;
  border: none;
  border-radius: 0.4rem;
  color: inherit;
  letter-spacing: .15rem;

  @media only screen and (max-width: 375px) {
    & {
      width: 60%;
    }
  }
}

.input_light {
  background-color: $light-mode-element;
}

.input_dark {
  background-color: $dark-mode-element;
}
