@import "Abstracts/Variables.scss";
@import "Abstracts/Mixin.scss";

@import "AppStyles/index.scss";
@import "AppStyles/Card.scss";
@import "AppStyles/LoadingSpinner.scss";
@import "AppStyles/Input.scss";
@import "AppStyles/ErrorPage.scss";
@import "AppStyles/Pagination.scss";
@import "AppStyles/Modal.scss";

